fieldset {
  border-radius: 10px;
  padding: 3%;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

.form_main_div{
  padding: 5%;
}

.selected{
  background: blue;
  color: white;
}

.form_inner_div{
  display: flex;
}

.form_left,.form_right{
  width: 50%;
}

img{
  border-radius: 20px;
}


.image_div{
  display: flex;
}

.RemoveIcon{
  border: 2px solid black;
  border-radius: 50%;
  color: red;
}

.RemoveIcon_div :hover{
  cursor: pointer;
}

.submit_div{
  width: 100%;
  display: flex;
  justify-content: center;
}

.table_main_div{
  padding: 5%;
}

span{
  color:blue
}

span:hover{
cursor: pointer;
}

.tr:nth-child(even){
  background-color: lightgray;
}
.tr:nth-child(odd){
  background-color: lightgray;
}

